*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto",sans-serif;
}

.main{
    width: 100%;
}
.header{
    background-color: #fff;
    width: 100%;
    box-shadow: 0px 1px 5px 0px grey;
    display: flex;
    justify-content: space-between;
    padding: 10px 60px;
    box-sizing: border-box;
    align-items: center;
 }

 .menu>ul{
display: flex;
list-style: none;
 }

 .menu>ul>li{
    padding: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #282C3F;
    font-size: 14px;
 }


 .header-right{
    display: flex;
    text-align: center;
    font-size: 12px;
    gap: 25px;
    font-weight: bold;
 }

 .header-right  svg {
    font-weight: normal;
    padding-bottom: 5px;
    font-size: 18px;
 }

 .logo img{
    width: 55px;
 }

 .search{
    flex-basis: 35%;
    background-color: #F5F5F6;
    padding: 10px 15px;
    color: grey;
    border-radius: 5px;
    box-sizing: border-box;
}

.search input{
    width: 90%;
    margin-left: 10px;
    padding: 5px;
    box-sizing: border-box;
    border: 0px solid transparent;
    outline: none;
    background-color: #F5F5F6;
}


.discount_sec{
    box-sizing: border-box;
    display: flex;
    padding: 20px 70px;
}

.discount_sec img{
    flex-grow: 1;
}

.sale{
    display: flex;
    /* width: 100%; */
}

.sale div{
    flex-basis: 50%;
}

.sale img{
    width: 100%;
}